VITE_API_URL=http://localhost:3000/api
VITE_APP_NAME=Project Kit
VITE_PWA_LOCALE=ru
VITE_PWA_NAME=Project Kit Admin
VITE_PWA_SHORT_NAME=PK Admin
VITE_PWA_DESCRIPTION=Административный интерфейс Project Kit.
