DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/project_kit?schema=public
PORT=3000
APP_ENV=development
JWT_SECRET=change_me
JWT_ACCESS_EXPIRES_IN=15m
AUTH_PASSWORD_RESET_TOKEN_TTL_MINUTES=30
AUTH_PASSWORD_RESET_URL=http://localhost:3001/reset-password
CASBIN_MODEL_PATH=./src/infrastructure/casbin/model.conf
